.mk-breadcrumbs {
    max-width: $layout-content-size;
    width: $layout-maxwidth;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $layout-block-spacing;
    }

    display: flex;
    align-items: center;
    gap: 6px;
    font-size: $font-size-small;
    color: $font-color-normal;

    a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &-home {
        display: inline-flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            opacity: 0.75;
        }

        svg {
            display: block;

            path {
                fill: #072F55;
            }
        }
    }

    strong,
    span:not(.mk-breadcrumbs-sep) {
        font-weight: 600;
        color: $font-color-normal;
    }

    &-sep {
        color: $font-color-normal;
        opacity: 0.4;
    }
}
